{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~ Mi Partido ~ </title>
    {% load static %}
    {% block css %}
    {% endblock %}
    <link href="{% static  'core/css/estilo.css' %}" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- cabecera -->
    <header>
        <div class="contenedor">
            <h1 class="icon-soccer-ball"> Mi Partido </h1>
            <!-- visualizar menu al momento de ejecutar responsive-->
            <input type="checkbox" name="" id="menu-bar">
            <label class="icon-th-list" for="menu-bar"></label>
            <!-- menu -->
            <nav class="menu">
                <div class="buscar">
                    <input class="form-control me-2" type="search" placeholder="Centro Deportivo" aria-label="Search">


                </div>
                <button class="btn btn-outline-light btn-lg" id="buton" type="submit">Buscar</button>
                <a href="{% url 'home' %}">Inicio</a>
                {% if user.is_authenticated %}
                <a href="{% url 'videos' %}">Videos</a>
                <a href="{% url 'perfil' user.username %}">Mi Perfil</a>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
                {% else %}
                <a href="{% url 'centros' %}">Centros Deportivos</a>
                <a href="{% url 'registro' %}">Registrarse</a>
                <a href="{% url 'inicioSesion' %}">Iniciar Sesion</a>
                {% endif %}
            </nav>

        </div>
    </header>
    <!-- contenido principal -->
    <main>
        <section id="banner">
            <img src="{% static  'core//img/MiPartido.png' %}" alt="">
            <div class="contenedor">
                <h2>Mi Partido</h2>
                <p>Vuelve a vivir tu partido favorito cuando y donde quieras</p>
                <a href="{% url 'info' %}">Contactanos </a>
            </div>
        </section>
        {% block contenido %}

        {% endblock %}
    </main>
    <!-- pie de pagina -->
    <footer>
        <div class="contenedor">
            <h2>Mi Partido - Diseño Web</h2>
        </div>
    </footer>
    {% block js %}
    {% endblock %}
</body>

</html>