{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static  'core/css/quiensomos.css' %}">
<script src="{% static  'core/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static  'core/js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}

{% block contenido %}
<section id="bienvenido">
    <h2>Bienvenidos Mi Partido Web</h2>
    <p>Mi Partido fue creado para que puedas revivir los mejores momentos o el partido completo que jugaste en tu centro
        deportivo favorito
    </p>
</section>

<section id="informacion">
    <div class="info">
        <article>
            <h1>Telefono<label class="icon-phone" for="informacion"></label> : +56 9 4879518 </h1>
        </article>
    </div>
    <div class="info">
        <article>
            <h1>Horario Atencion <label class="icon-clock" for="informacion"></label> : 09:00hrs hasta las 19:00hrs de
                Lunes a Viernes, Sabados de 10:00hrs hasta
                las 17:00hrs. Domingo y festivos cerrado </h1>
        </article>
    </div>
    <div class="info">
        <article>
            <h1>Correo <label class="icon-mail-alt" for="informacion"></label> : MiPartidoWeb@gmail.com </h1>
        </article>
        <article>
            <h1>Instragram <label class="icon-instagram" for="informacion"></label> : @MiPartidoWeb </h1>
        </article>
        <article>
            <h1>Facebook <label class="icon-facebook-official" for="informacion"></label> : @MiPartidoWeb </h1>
        </article>
    </div>
</section>
{% endblock contenido %}