{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
{% block css %}
<link rel="stylesheet" href="{% static  'core/css/registroinicio.css' %}">
<script src="js/sweetalert2.all.min.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>
{% endblock %}

<section id="bienvenido">

    <h2>Formulario Registro de Usuario</h2>
    <p>A continuacion se presenta el formulario para poder registrarse y accedera todas nuestras funciones de la pagina
        web.</p>
</section>

<section id="formu">

    <form class="form-registro" action="" method="POST" onsubmit="return valida()">

        <h2 class="form-titulo">Creacion de Cuenta</h2>

        <div class="contenedor-imput">

            <input class="col-48" type="email" name="txtEmail" id="txtEmail" placeholder="ingrese su email" required
                minlength="10">
            <input class="col-48" type="text" name="txtUsuario" id="txtUsuario" placeholder="ingrese nombre usuario"
                required minlength="5" maxlength="15">
            <input class="col-48" type="password" name="txtPass" id="txtPass" placeholder="ingrese la contraseña"
                required minlength="8" maxlength="12">
            <input class="col-48" type="password" name="txtPass" id="txtPass" placeholder="repita la contraseña"
                required minlength="8" maxlength="12">


            <input class="btn-enviar" type="submit" value="Registrar">

        </div>
    </form>

</section>
{% endblock %}